<h1>Signup</h1>

<div class="form container">
    <form method="post" action="signup">
        <div class="form-group">
            <label for"username">Username</label>
            <input type="" name="" id="username" class="form-control" required>
        </div>

    </form>

</div>
